{% extends 'userprofile/base.html' %}
{% load static %}

{% block main %}
    <main id="user-profile">
        <div id="sidebar-wrapper">
            <div id="profile-photo-wrapper" class="profile-block">
                <!-- 
                    Сюда делаем кастомный темплейт тег на определение авы для пользователя:
                        либо берём переданную с контекста, либо формируем DIV с инициалами
                        пользователя на мягко-салатовом фоне.
                -->
            </div>

            <div id="profile-friendslist-wrapper" class="profile-block">
                <div id="friendslist-title-wrapper">
                    <strong id="friendslist-title">
                        Friends
                    </strong>
                </div>
    
                <ul id="friendslist">
                    
                    {% if friends %}
                        {% for friend in friends %}
                            <li class="friendlist-row">
                                <div class="friend-wrapper">
                                    <div class="friend-photo-wrapper">
                                        <!-- 
                                            Сюда делаем кастомный темплейт тег на определение авы для пользователя:
                                                - либо берём переданную с контекста, либо формируем DIV с инициалами
                                                - пользователя на мягко-салатовом фоне.
                                        -->
                                    </div>
                                    
                                    <a class="friend-link" href="{% url 'profile:profile_page_with_period' requested_user_uuid=friend.uuid period_abbreviature=td %}">
                                        {{ friend.username|truncatechars:16 }}
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li id="no-friends__list-item">
                            <b id="no-friends__warn">Here is no friends yet </b>
                        </li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>

        <div id="content-wrapper">
            <div id="profile-description-wrapper" class="profile-block">
                <h1 id="usr-name">
                    {{ user.username }}
                </h1>
    
                <p id="usr-desc">
                    {% if user.biography %}
                        {{ user.biography }}
                    {% else %}
                        <b id="no-desc">Here is no description yet.</b>
                    {% endif %}
                </p>
            </div>
    
            
    
            <div id="profile-publicboard-wrapper" class="profile-block">
                <nav id="publicboard-nav">
                    <ul id="publicboard-nav-options">
                        <li id="publicboard-title" class="publicboard-nav-item">
                            <h2>My tasks for the {{ selected_period_title }}</h2>
                        </li>
    
                        <li id="publicboard-add-task" class="publicboard-nav-item">
                            {% if is_owner %}
                                <button id="add-task__button">
                                    Add task
                                </button>
                            {% endif %}
                            
                            <div id="period-selection-wrapper">
                                <div id="period-selection-menu-wrapper">
                                    <img src="{% static 'userprofile/images/public-board/sort.png' %}" alt="two arrows to up and down">
                                    <b id="selected-period__btn">{{ selected_period_title|capfirst }}</b>
                                </div>
                                
                                <div id="period-selection-dropdownmenu-wrapper">
                                    <ul id="period-dropdownmenu__list">
                                        {% for additional_period_title, additional_period_abbreviature in additional_periods_titles_and_abbreviatures %}
                                            <li class="period-option">
                                                <a class="additional-period__lnk" href="{% url 'userprofile:profile_page_with_period' requested_user_uuid=user.uuid period_abbreviature=additional_period_abbreviature %}">
                                                    {{ additional_period_title|capfirst }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
    
                <div id="task-blocks-wrapper">
                    <ul id="task-blocks">
                        {% if tasks_by_period %}
                            {% for period in tasks_by_period|slice:":7" %}
                                <li id="task-{{ forloop.counter }}" class="task-block">
                                    <div class="task-wrapper">
                                        {{ period.date|date:"F" }} <br>
                                        {{ period.number }}
                                    </div> 
                                </li>
                            {% endfor %}
                            <li id="fullscreen">
                                <img src="{% static 'userprofile/images/public-board/fullscreen.png' %}" alt="fullscreen mode button">
                            </li>
                        {% else %}
                            <li id="splash-screen">
                                <img id="splash-screen-png" src="{% static 'userprofile/images/public-board/no-tasks.png' %}" alt="resting worker">
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}