{% extends 'userprofile/base.html' %}
{% load static %}

{% block main %}
    <main id="user-profile">
        <div id="sidebar-wrapper">
            <div id="profile-photo-wrapper" class="profile-block">
                <!-- 
                    Сюда делаем кастомный темплейт тег на определение авы для пользователя:
                        либо берём переданную с контекста, либо формируем DIV с инициалами
                        пользователя на мягко-салатовом фоне.
                -->
            </div>

            <div id="profile-friendslist-wrapper" class="profile-block">
                <div id="friendslist-title-wrapper">
                    <strong id="friendslist-title">
                        Friends
                    </strong>
                </div>
    
                <ul id="friendslist">
                    
                    {% if friends %}
                        {% for friend in friends %}
                            <li class="friendlist-row">
                                <div class="friend-wrapper">
                                    <div class="friend-photo-wrapper">
                                        <!-- 
                                            Сюда делаем кастомный темплейт тег на определение авы для пользователя:
                                                - либо берём переданную с контекста, либо формируем DIV с инициалами
                                                - пользователя на мягко-салатовом фоне.
                                        -->
                                    </div>
                                    
                                    <a class="friend-link" href="{% url 'userprofile:profile_page' user_uuid=friend.uuid %}">
                                        {{ friend.username|truncatechars:16 }}
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li id="no-friends__list-item">
                            <b id="no-friends__warn">Here is no friends yet </b>
                        </li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>

        <div id="content-wrapper">
            <div id="profile-description-wrapper" class="profile-block">
                <h1 id="usr-name">
                    {{ user.username }}
                </h1>
    
                <p id="usr-desc">
                    {% if user.biography %}
                        {{ user.biography }}
                    {% else %}
                        <b id="no-desc">Here is no description yet.</b>
                    {% endif %}
                </p>
            </div>
    
            
    
            <div id="profile-publicboard-wrapper" class="profile-block">
                <nav id="publicboard-nav">
                    <ul id="publicboard-nav-options">
                        <li id="publicboard-title" class="publicboard-nav-item">
                            <h2>My tasks on this day</h2>
                        </li>
    
                        <li id="publicboard-add-task" class="publicboard-nav-item">
                            {% if owner %}
                                <button id="add-task__button">
                                    Add task
                                </button>
                            {% endif %}
                            
                            <div id="period-selection-wrapper">
                                <div id="period-selection-menu-wrapper">
                                    <img src="{% static 'userprofile/images/public-board/sort.png' %}" alt="two arrows to up and down">
                                    <b>Day</b>
                                </div>
    
                                <div id="period-selection-dropdownmenu-wrapper">
                                    <ul id="period-dropdownmenu__list">
                                        <li class="period-option">
                                            <button class="period__button">
                                                Week
                                            </button>
                                        </li>

                                        <li class="period-option">
                                            <button class="period__button">
                                                Month
                                            </button> 
                                        </li>

                                        <li class="period-option">
                                            <button class="period__button">
                                                Year
                                            </button>
                                        </li>

                                        <li class="period-option">
                                            <button class="period__button">
                                                All
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
    
                <div id="task-blocks-wrapper">
                    <ul id="task-blocks">
                        <li id="task-1" class="task-block">
                            <div class="task-wrapper">
                                <!--
                                    Тут будем получать информацию с сервера посредством GET-запроса,
                                    которая будет предоставлять количество задач на тот или иной период.
                                -->
                            </div> 
                        </li>
                        <li id="task-2" class="task-block">
                            <div class="task-wrapper">
                                <!--
                                    Тут будем получать информацию с сервера посредством GET-запроса,
                                    которая будет предоставлять количество задач на тот или иной период.
                                -->
                            </div> 
                        </li>
                        <li id="task-3" class="task-block">
                            <div class="task-wrapper">
                                <!--
                                    Тут будем получать информацию с сервера посредством GET-запроса,
                                    которая будет предоставлять количество задач на тот или иной период.
                                -->
                            </div> 
                        </li>
                        <li id="task-4" class="task-block">
                            <div class="task-wrapper">
                                <!--
                                    Тут будем получать информацию с сервера посредством GET-запроса,
                                    которая будет предоставлять количество задач на тот или иной период.
                                -->
                            </div>
                        </li>
                        <li id="task-5" class="task-block">
                            <div class="task-wrapper">
                                <!--
                                    Тут будем получать информацию с сервера посредством GET-запроса,
                                    которая будет предоставлять количество задач на тот или иной период.
                                -->
                            </div>
                        </li>
                        <li id="task-6" class="task-block">
                            <div class="task-wrapper">
                                <!--
                                    Тут будем получать информацию с сервера посредством GET-запроса,
                                    которая будет предоставлять количество задач на тот или иной период.
                                -->
                            </div>
                        </li>
                        <li id="task-7" class="task-block">
                            <div class="task-wrapper">
                                <!--
                                    Тут будем получать информацию с сервера посредством GET-запроса,
                                    которая будет предоставлять количество задач на тот или иной период.
                                -->
                            </div> <!--
                                Тут будем получать информацию с сервера посредством GET-запроса,
                                которая будет предоставлять количество задач на тот или иной период.
                            -->
                        </li>
                        <li id="fullscreen">
                            <img src="{% static 'userprofile/images/public-board/fullscreen.png' %}" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        

        
    </main>
{% endblock %}