{% extends 'authorization/navigation_menu.html' %}

{% block main_content %}
    <main id="main_content">
        <div id="reg-wrapper">
            <form id="reg-form" action="{% url 'registration' %}" method="post">
                {% csrf_token %}

                <h1 id="reg-form__header">Registration</h1>
                <div id="reg-steps-wrapper">
                    
                    <fieldset id="reg-first-step">
                        {{ reg_form.username.errors }}
                        {{ reg_form.username }}

                        {{ reg_form.email.errors }}
                        {{ reg_form.email }}

                        {{ reg_form.email_conf.errors }}
                        {{ reg_form.email_conf }}

                        <div class="reg-step-menu">
                            <button id="reg-next-step__button" type="button" onclick="swipe_next_reg_step()">
                                Next step
                            </button>
                        </div>

                    </fieldset>

                    <fieldset id="reg-second-step">
                        {{ reg_form.password.errors }}
                        {{ reg_form.password }}

                        {{ reg_form.password_conf.errors }}
                        {{ reg_form.password_conf }}

                        <div class="reg-step-menu">
                            <button id="reg-previous-step__button" type="button" onclick="swipe_prev_reg_step()">
                                Previous step
                            </button>

                            <button id="reg-submit-step__button">
                                Register
                            </button>
                        </div>

                    </fieldset>
                    <script src="../../static/authorization/js/swipe_reg_steps.js"></script>
                </div>
                
            </form>
        </div>
    </main>
{% endblock main_content %}